.chatForm {
    position: absolute;
    width: 50%;
    max-width: 100%;
    height: calc(100% - 20px);
    border-radius: 10px;
    background-color: white;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    overflow: scroll;
}

.top_menu {
    position: sticky;
    top: 0rem;
    background-color: white;
    width: 100%;
    height: 10%;
    padding: 20px 0 15px;
    box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
}

.top_menu .title {
    position: static;
    text-align: center;
    color: black;
    font-size: 1.3rem;
    font-weight: bold;
    font-family: Avenir;
}

.input-group {
    position: sticky;
    top: 33rem;
    margin-bottom: 1rem;
    width: calc(100% - 40px);
    margin-left: 20px;
    margin-right: 20px;
}

.form-control {
    border-radius: 11px;
}


.text{
    padding: 10px;
}

.bubble-right {
    font-size: 18px;
    background-color: #ece5ce;
    padding: 10px;
    border-radius: 30px;
    position: absolute;
    right: 20px;
    width: fit-content;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
}

.bubble-left {
    font-size: 18px;
    background-color: #ece5ce;
    padding: 10px;
    border-radius: 30px;
    position: relative;
    width: fit-content;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}






.chat-bubble-container {
    display: flex;
    width: 100%;
}

.chat-bubble {
    font-size: 1rem;
    padding: 1rem 1.4rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 2rem;
    width: auto;
    max-width: 70%;
}

.msg-bot {
    color: black;
    background-color: #ddd5f4;
    margin-left:1rem;
    margin-right: auto;
}

.msg-self {
    color: black;
    background-color: #f6e0df;
    margin-right:1rem;
    margin-left: auto;
}